.no_list {
    list-style-type: none;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.list_item,
.right,
.false {
    font-size: 20px;
    background-color: darkgray;
    padding: 16px;
    border-radius: 16px;
    color: black;
    margin-top: 15px;
    cursor: pointer;
}

@media screen and (max-width:500px) {

    .list_item,
    .right,
    .false {
        font-size: 15px;
        margin-top: 10px;
    }

    .no_list {
        width: 90%;
    }
}

.list_item:hover {
    color: white;
    background-color: blue;
    box-shadow: 0 0 20px 10px blue
}

.right,
.false {
    color: white;
    animation: blinker 1s ease infinite;
}

.right {
    background-color: green;
    box-shadow: 0 0 20px 10px green;
}

.false {
    background-color: red;
    box-shadow: 0 0 20px 10px red;
}

.disableClick {
    pointer-events: none;
}

@keyframes blinker {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 70%;
    }

    100% {
        opacity: 100%;
    }
}