@keyframes slideinTiles {
    0% {
        bottom: -500px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes slideoutTiles {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -500px;
    }
}



.Tiles,
.Tiles_down {
    border: 0px solid rgba(255, 255, 255, 0.815);
    height: 9.3vw;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
    padding-top: 0.5rem;
    width: 97%;
    margin: auto;

}

.Tiles {
    animation: slideinTiles 0.7s ease-in-out;
}

.Tiles_down {
    animation: slideoutTiles 0.7s ease-in-out;
    bottom: 500px;
    visibility: hidden;
}

.Tile {
    flex: content;
    height: 100%;
    color: black;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Tile:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(75rem circle at var(--xPos) var(--yPos),
            rgb(3, 43, 70),
            transparent 20%);
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.Tile:hover {
    background: radial-gradient(75rem circle at var(--xPos) var(--yPos),
            rgb(3, 43, 70),
            transparent 20%);
    transform: scale(0.991);
}

.TileContent,
.TileContentSelected {
    background-color: #80808049;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
    border: 1px solid rgb(0, 0, 0);
}

.TileContentSelected {
    background-color: rgba(28, 77, 114, 0.644);
}


@media only screen and (max-width: 500px) {

    .Tiles,
    .Tiles_down {
        gap: 8px;
        height: 130px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
    }

    .Tiles {
        animation: slideinTiles 0.7s ease-in-out;
    }

    .Tiles_down {
        animation: slideoutTiles 0.7s ease-in-out;
        bottom: -500px;
    }

    .Tile {
        border-radius: 0.4rem;
        align-items: center;
        width: 200px;
        height: 100%;
    }
}

@media only screen and (max-width: 950px) and (min-width: 500px) {

    
    .Tiles,
    .Tiles_down {
        height: 150px;
        width: 97%;
        scroll-behavior: smooth;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }

    .Tile {
        min-width: none;
        flex: auto;
        color: #000;
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
    }
}