@keyframes slidein {
    0% {
        bottom: -500px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes slidout {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -500px;
    }
}

@keyframes slideinOther {
    0% {
        bottom: 40px;
    }

    100% {
        bottom: 225px;
    }
}

@keyframes slidoutOther {
    0% {
        bottom: 225px;
    }

    100% {
        bottom: 40px;
    }
}


.WeatherForecast {
    border: 0px solid rgba(255, 255, 255, 0.815);
    height: 180px;
    display: inline-flex;
    position: fixed;
    justify-content: space-around;
    left: 10px;
    right: 10px;
    bottom: 0px;
    gap: 15px;
    padding: 2rem;
    padding-top: 1rem;
    animation: slidein 0.7s ease-in-out;
}

.WeatherForecast_down {
    border: 0px solid rgba(255, 255, 255, 0.815);
    height: 180px;
    display: inline-flex;
    position: fixed;
    justify-content: space-around;
    left: 10px;
    right: 10px;
    bottom: 0px;
    gap: 15px;
    padding: 2rem;
    padding-top: 1rem;
    animation: slidout 0.7s ease-in-out;
    bottom: -500px;
}

.Element:hover {
    background: radial-gradient(75rem circle at var(--xPos) var(--yPos),
            rgb(3, 43, 70),
            transparent 20%);
}

.Element {
    min-width: 10%;
    flex: auto;
    height: 100%;
    width: 280px;
    color: rgb(0, 0, 0);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content {
    background-color: #808080a4;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.1rem);
    width: calc(100% - 0.1rem);

}

.ContentSelected {
    background-color: rgba(58, 80, 97, 0.884);
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.1rem);
    width: calc(100% - 0.1rem);
}


.BackToCurrentWeather {
    position: fixed;
    left: 30px;
    right: 0px;
    bottom: 225px;
    font-size: xx-large;
    animation: slideinOther 0.7s ease-in-out;
}

.BackToCurrentWeather_down {
    position: fixed;
    left: 30px;
    right: 0px;
    bottom: 240px;
    font-size: xx-large;
    animation: slidoutOther 0.7s ease-in-out;
    bottom: 40px;

}

.WeatherMode {
    left: 40px;
    right: 0px;
    bottom: 245px;
    font-family: Starjedi;
    margin-left: 7px;

}

.showCurrentWeatherButton_disabled {

    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #b1b1b1a4;
    color: #505050;
    border-radius: 0.4rem;
}

.showCurrentWeatherButton {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border-radius: 0.4rem;
}


.showCurrentWeatherButton:hover {
    background-color: rgba(58, 80, 97, 0.884);
}


.FoldButton {
    background-color: #808080a4;
    border-radius: 0.4rem;
    font-weight: bolder;
    margin-left: 15px;
    cursor: pointer;
    border: none;
}

.FoldButton:hover {
    background-color: rgba(58, 80, 97, 0.884);
}

.FoldButton img {
    width: 20px;
    height: 20px
}

.WeatherDescription {
    position: absolute;
    right: 100px;
    bottom: 15px;
}