@keyframes slideinTiles {
    0% {
        bottom: -500px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes slideoutTiles {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -500px;
    }
}

@keyframes slideinControls {
    0% {
        bottom: -10vw;
    }

    100% {
        bottom: 0vw;
    }
}

@keyframes slideoutControls {
    0% {
        bottom: 0vw;
    }

    100% {
        bottom: -10vw;
    }
}


.Tiles,
.Tiles_down {
    border: 0px solid rgba(255, 255, 255, 0.815);
    height: 9.3vw;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
    padding-top: 0.5rem;
    width: 97%;
    margin: auto;
}

.Tiles {
    animation: slideinTiles 0.7s ease-in-out;
}

.Tiles_down {
    animation: slideoutTiles 0.7s ease-in-out;
    bottom: -500px;
    visibility: hidden;
}

.Tile {
    flex: content;
    height: 100%;
    color: black;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Tile:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(75rem circle at var(--xPos) var(--yPos),
    rgb(3, 43, 70),
    transparent 20%);
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.Tile:hover {
    background: radial-gradient(75rem circle at var(--xPos) var(--yPos),
            rgb(3, 43, 70),
            transparent 20%);
    transform: scale(0.991);
}

.TileContent,
.TileContentSelected {
    background-color: #80808049;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
    border: 1px solid rgb(0, 0, 0);
}

.TileContentSelected {
    background-color: rgba(28, 77, 114, 0.644);
}

.DescriptionControlWrapper,
.DescriptionControlWrapper_down {
    width: 100%;
    height: 8vw;
    position: relative;
}

.TileControlWrapper {
    float: left;
    margin-left: 1%;
    font-size: 1.5vw;
    top: 40%;
    position: relative;
}


.DescriptionControlWrapper {
    bottom: 0vw;
    animation: slideinControls 0.7s ease-in-out;
}

.DescriptionControlWrapper_down {
    animation: slideoutControls 0.7s ease-in-out;
    bottom: -10vw;
}

.Date {
    font-family: 'Mandalore';
    margin-left: 7px;
    font-size: 2.2vw;
}

.CurrentWeatherButton_disabled,
.CurrentWeatherButton {
    border: none;
    padding: 0.7vw 1.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 0.8vw;
    border-radius: 0.4rem;
    margin: 10px 10px 10px 20px;
}

.CurrentWeatherButton_disabled {
    background-color: #b1b1b1a4;
    color: #505050;
}

.CurrentWeatherButton {
    background-color: #e7e7e7;
    color: black;
    cursor: pointer;
}

.CurrentWeatherButton:hover {
    background-color: rgba(58, 80, 97, 0.884);
}

.FoldButton {
    background-color: #808080a4;
    border-radius: 0.4rem;
    font-weight: bolder;
    margin-left: 15px;
    cursor: pointer;
    border: none;
}

.FoldButton:hover {
    background-color: rgba(58, 80, 97, 0.884);
}

.FoldButton img {
    width: 1vw;
    height: 1vw;
}

.WeatherDescription {
    position: relative;
    right: 1vw;
    bottom: 0.5vw;
}

@media only screen and (max-width: 500px) {


    @keyframes slideinControls {
        0% {
            bottom: -115px;
        }

        100% {
            bottom: 25px;
        }
    }

    @keyframes slideoutControls {
        0% {
            bottom: 25px;
        }

        100% {
            bottom: -115px;
        }
    }

    .Tiles,
    .Tiles_down {
        gap: 8px;
        height: 130px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
    }

    .Tiles {
        animation: slideinTiles 0.7s ease-in-out;
    }
    
    .Tiles_down {
        animation: slideoutTiles 0.7s ease-in-out;
        bottom: -500px;
    }

    .Tile {
        border-radius: 0.4rem;
        align-items: center;
        width: 200px;
        height: 100%;
    }

    .DescriptionControlWrapper,
    .DescriptionControlWrapper_down {
        height: auto;
        display: grid;
        position: relative;
    }

    .DescriptionControlWrapper {
        bottom: 25px;
        animation: slideinControls 0.7s ease-in-out;
    }

    .DescriptionControlWrapper_down {
        animation: slideoutControls 0.7s ease-in-out;
        bottom: -115px;
    }

    .TileControlWrapper {
        font-size: 20px;
        margin-left: 2%;
        position: relative;
    }
    

    .CurrentWeatherButton_disabled,
    .CurrentWeatherButton {
        padding: 5px 12px;
        font-size: 12px;
        margin: 5px 5px 5px 15px;
    }
    
    .FoldButton img {
        width: 15px;
        height: 15px
    }

    .WeatherDescription {
        position: relative;
    }

    .Date {
        font-size: 6.2vw;
    }
}

@media only screen and (max-width: 950px) and (min-width: 500px) {

    @keyframes slideinControls {
        0% {
            bottom: -20vw;
        }

        100% {
            bottom: 0px;
        }
    }

    @keyframes slideoutControls {
        0% {
            bottom: 0px;
        }

        100% {
            bottom: -20vw;
        }
    }

    .Tiles,
    .Tiles_down {
        height: 150px;
        width: 97%;
        scroll-behavior: smooth;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }

    .Tile {
        min-width: none;
        flex: auto;
        color: #000;
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
    }

    .DescriptionControlWrapper,
    .DescriptionControlWrapper_down {
        height: 150px;
        width: auto;

    }

    .DescriptionControlWrapper {
        bottom: 0vw;
        animation: slideinControls 0.7s ease-in-out;
    }

    .DescriptionControlWrapper_down {
        bottom: -20vw;
        animation: slideoutControls 0.7s ease-in-out;
    }

    .CurrentWeatherButton,
    .CurrentWeatherButton_disabled {
        padding: 8px 12px;
        font-size: 18px;
        margin: 10px 10px 10px 15px;
    }

    .TileControlWrapper {
        font-size: 25px;
    }
    

    .FoldButton img {
        width: 17px;
        height: 17px;
    }

    .Date {
        font-size: 5.2vw;
    }
}