@keyframes slideinTiles {
    0% {
        bottom: -500px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes slideoutTiles {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -500px;
    }
}

@keyframes slideinControls {
    0% {
        bottom: 1vw;
    }

    100% {
        bottom: 10vw;
    }
}

@keyframes slideoutControls {
    0% {
        bottom: 10vw;
    }

    100% {
        bottom: 1vw;
    }
}

.Tiles,
.Tiles_down {
    border: 0px solid rgba(255, 255, 255, 0.815);
    height: 8.7vw;
    display: inline-flex;
    position: fixed;
    justify-content: space-around;
    left: 10px;
    right: 10px;
    bottom: 0px;
    gap: 15px;
    padding: 1rem;
    padding-top: 0.5rem;
}

.Tiles {
    animation: slideinTiles 0.7s ease-in-out;
}

.Tiles_down {
    animation: slideoutTiles 0.7s ease-in-out;
    bottom: -500px;
}

.Tile {
    flex: auto;
    height: 100%;
    width: 8.7vw;
    color: black;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
}

.Tile:hover {
    background: radial-gradient(75rem circle at var(--xPos) var(--yPos),
            rgb(3, 43, 70),
            transparent 20%);
}

.TileContent,
.TileContentSelected {
    background-color: #808080a4;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.1rem);
    width: calc(100% - 0.1rem);
}

.TileContentSelected {
    background-color: rgba(58, 80, 97, 0.884);
}

.TileControlWrapper,
.TileControlWrapper_down {
    position: fixed;
    left: 30px;
    right: 0px;
    bottom: 10vw;
    font-size: 1.5vw;
}

.WeatherForecast {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 15px;
}

.TileControlWrapper {
    animation: slideinControls 0.7s ease-in-out;
}

.TileControlWrapper_down {
    animation: slideoutControls 0.7s ease-in-out;
    bottom: 1vw;
}

.Date {
    font-family: Starjedi;
    margin-left: 7px;
}

.CurrentWeatherButton_disabled,
.CurrentWeatherButton {
    border: none;
    padding: 0.7vw 1.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 0.8vw;
    border-radius: 0.4rem;
    margin: 10px 10px 10px 20px;
}

.CurrentWeatherButton_disabled {
    background-color: #b1b1b1a4;
    color: #505050;
}

.CurrentWeatherButton {
    background-color: #e7e7e7;
    color: black;
    cursor: pointer;
}

.CurrentWeatherButton:hover {
    background-color: rgba(58, 80, 97, 0.884);
}

.FoldButton {
    background-color: #808080a4;
    border-radius: 0.4rem;
    font-weight: bolder;
    margin-left: 15px;
    cursor: pointer;
    border: none;
}

.FoldButton:hover {
    background-color: rgba(58, 80, 97, 0.884);
}

.FoldButton img {
    width: 1vw;
    height: 1vw;
}

.WeatherDescription {
    position: absolute;
    right: 1vw;
    bottom: 0.5vw;
}

@media only screen and (max-width: 450px) {


    @keyframes slideinControls_mobile {
        0% {
            bottom: 40px;
        }

        100% {
            bottom: 160px;
        }
    }

    @keyframes slidoutControls_mobile {
        0% {
            bottom: 160px;
        }

        100% {
            bottom: 40px;
        }
    }

    .Tiles,
    .Tiles_down {
        left: 5px;
        right: 5px;
        bottom: 0px;
        gap: 8px;
        padding: 1rem;
        padding-top: 1rem;
        width: auto;
        height: 130px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Tiles {
        animation: slideinTiles 0.7s ease-in-out;
    }
    
    .Tiles_down {
        animation: slideoutTiles 0.7s ease-in-out;
        bottom: -500px;
    }

    .Tile {
        border-radius: 0.4rem;
        align-items: center;
        width: 200px;
        height: 100%;
    }

    .TileControlWrapper,
    .TileControlWrapper_down {
        position: fixed;
        left: 8px;
        right: 0;
        bottom: 160px;
        font-size: large;
    }

    .TileControlWrapper {
        animation: slideinControls_mobile 0.7s ease-in-out;
    }

    .TileControlWrapper_down {
        animation: slidoutControls_mobile 0.7s ease-in-out;
        bottom: 40px;
    }

    .CurrentWeatherButton_disabled,
    .CurrentWeatherButton {
        padding: 5px 12px;
        font-size: 12px;
        margin: 5px 5px 5px 15px;
    }
    
    .FoldButton img {
        width: 10px;
        height: 10px
    }

    .WeatherDescription {
        position: absolute;
        right: 0px;
        bottom: 15px;
    }
}

@media only screen and (max-width: 950px) and (min-width: 450px) {

    @keyframes slideinControls_tablet {
        0% {
            bottom: 40px;
        }

        100% {
            bottom: 190px;
        }
    }

    @keyframes slidoutControls_table {
        0% {
            bottom: 190px;
        }

        100% {
            bottom: 40px;
        }
    }

    .Tiles,
    .Tiles_down {
        height: 150px;
        width: auto;
        scroll-behavior: smooth;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }

    .Tile {
        min-width: none;
        flex: auto;
        color: #000;
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
    }

    .TileControlWrapper,
    .TileControlWrapper_down {
        position: fixed;
        left: 8px;
        right: 0px;
        font-size: x-large;
    }

    .TileControlWrapper {
        bottom: 190px;
        animation: slideinControls_tablet 0.7s ease-in-out;
    }

    .TileControlWrapper_down {
        bottom: 40px;
        animation: slidoutControls_table 0.7s ease-in-out;
    }

    .CurrentWeatherButton,
    .CurrentWeatherButton_disabled {
        padding: 8px 12px;
        font-size: 18px;
        margin: 10px 10px 10px 15px;
    }


    .FoldButton img {
        width: 17px;
        height: 17px;
    }
}