.select_box {
    color: #ffe81f;
}

.text_label {
    font-family: "Starjedi";
    font-size: x-large;
    margin: 0.1rem;
    display: block;
}

.gray_text {
    font-family: "Mandalore";
    color: lightgray;
    display: block;
}

@media screen and (min-width:850px) {
    .visible {
        height: auto;
    }

    .hidden {
        visibility: hidden;
        height: 0;
    }

    .gray_text {
        font-size: x-large;
    }

    .trigger_button {
        font-size: small;
    }

    .select_box {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width:500px) and (max-width:850px) {
    .visible {
        height: auto;
    }

    .hidden {
        visibility: hidden;
        height: 0;
    }

    .text_label {
        font-size: large;
    }

    .gray_text {
        font-size: x-large;
    }

    .trigger_button {
        font-size: small;
    }

    .select_box {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width:500px) {
    .visible {
        height: auto;
    }

    .hidden {
        height: 0;
    }

    .text_label {
        font-size: large;
    }

    .gray_text {
        font-size: large;
    }

    .trigger_button {
        font-size: small;
    }

    .select_box {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}


.trigger_button {
    font-family: "Starjedi", sans-serif;
    background-color: black;
    color: white;
    padding: 0.4rem;
    border: 2px solid gray;
    margin: 1rem;
}

.trigger_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.options {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    display: block;
}

.option {
    font-family: "Starjedi", sans-serif;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: darkgrey;
}

.option_selected {
    background-color: #ffe81f;
    color: #000;
}