.Weather_description {
    color: white;
    font-size: xx-large;
    max-width: 115px;
    padding-left: 10%;
    font-family: Starjedi;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Weather {
    display: flex;
}

.Image {
    max-width: 100px;
    max-height: 100%;

}

.Weather_img {
    width: 120px;
    height: 100px;
}

.WeatherValues {
    font-family: Starjedi;
    display: flex;

}