.choosechar {
  
  
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "arrowleft character arrowright";

 
  grid-area: 3 / 1 / 4 / 2;
}


.arrowleft {
  margin-top: 150px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  justify-self: flex-end;

  border-right: 30px solid #d9d9d9;
  grid-area: arrowleft;
}

.arrowleft:hover{
 
  cursor: pointer;
}

.arrowright:hover{
 
  cursor: pointer;
}

.arrowright {
  margin-top: 150px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  justify-self: flex-start;
  border-left: 30px solid #d9d9d9;
  grid-area: arrowright;
}

.characterDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
  grid-area: character;

  
}


.character_img {
  
  max-width: 100%;
  max-height: 350px;
  object-fit: contain;
}

@media screen and (max-width: 400px) {
  .choosechar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
  }

  .characterDisplay {
    padding-top: 15%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    max-width: 200px;
    max-height: 60%;
    grid-area: character_small;
  }

  .arrowleft {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #d9d9d9;
    grid-area: arrows_small;
  }

  .arrowright {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #d9d9d9;

    grid-area: arrows_small;
  }

  .character_img {
    margin-top: 25%;
    max-width: 100%;
    max-height: 150px;
  }
}

