.choosechar {
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "arrowleft character arrowright";

  grid-area: 3 / 1 / 4 / 2;
}

.arrowleft:hover {
  cursor: pointer;
}

.arrowright:hover {
  cursor: pointer;
}

.arrowright {
  margin-top: 150px;

  justify-self: flex-start;

  grid-area: arrowright;
}

.arrowleft {
  margin-top: 150px;
  justify-self: flex-end;

  grid-area: arrowleft;
}

.characterDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
  grid-area: character;
}

.character_img {
  max-width: 100%;
  max-height: 350px;
  object-fit: contain;
}

@media screen and (max-width: 400px) {
  .choosechar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
  }

  .characterDisplay {
    padding-top: 15%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    max-width: 200px;
    max-height: 60%;
    grid-area: character_small;
  }

  .arrowleft {
    grid-area: arrows_small;
  }

  .arrowright {
    grid-area: arrows_small;
  }

  .character_img {
    margin-top: 25%;
    max-width: 100%;
    max-height: 150px;
  }
}
