.WholeWeather {
    color: white;
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.Background {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Searchbar {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}

.Location {
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 1.7vw;
    font-family: 'Mandalore' ;
    max-width: 200px;
}

.StarWarsPlanet {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Starjedi;

}

.WeatherForecast {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1 auto;
    margin-top: auto;
    bottom: 10%;
}

@media only screen and (max-width: 500px) {
    .Location {
        text-align: center;
        position: relative;
        top: 12%;
        left: 50%;
        margin-right: none;
        transform: translate(-50%, -50%);
        font-family: Starjedi;
        font-size: x-large;

    }

    .StarWarsPlanet {
        position: absolute;
        top: 33%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: Starjedi;

    }

    .Searchbar {
        float: none;
        position: relative;
        margin: auto;
        width: 50%;
        top: 25px;
        margin-top: none;
        margin-right: none;

    }

    .Background {
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 130%;
    }

    .WeatherForecast {
        bottom: 12%;
    }
}

@media only screen and (max-width: 950px) and (min-width: 500px) {
    .Location {
        font-size: xx-large;
    }

    .Background {
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 270%;
        background-position: 30%;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 950px) and (min-height: 750px) {

    .Background {
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: 50%;
    }
}