.WholeWeather {
    color: white;
    display: flex;

}

.Background {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Searchbar {
    position: absolute;
    top: 50px;
    right: 50px;
}

.Location {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    font-size: xx-large;
    font-family: Starjedi;
}

.StarWarsPlanet {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Starjedi;

}

.WeatherDescription {
    position: absolute;
    bottom: 250px;
    right: 100px;
}

.WeatherForecast {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 15px;
}