.pictures_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 550px) {
    .pictures_container {
        margin: 0;
    }
}

@media screen and (min-width: 550px) and (max-width: 1050px) {
    .pictures_container {
        margin: 1rem;
    }
}

@media screen and (min-width: 1050px) {
    .pictures_container {
        margin: 1.5rem;
    }
}