.question_text {
    color: white;
}

.question_card {
    margin: 0 auto;
    background-color: black;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px-18px;
    width: 80%;
    height: auto;
    border-style: solid;
    box-shadow: 0 0 15px 5px;
}

.visible {
    height: auto;
    width: 100%;
}

.invisible {
    height: 0px;
}