.question_text {
    color: white;
}

.question_card {
    min-width: 250px;
    font-family: "Starjedi";
    text-align: center;
    margin: auto;
    background-color: black;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px-18px;
    max-width: 80%;
    max-height: 90%;
    border-style: solid;
    box-shadow: 0 0 15px 5px;
    animation: blend_in 1s ease-out;
}

@media screen and (max-width: 500px) {
    .visible {
        max-height: 50%;
        max-width: 70%;
    }

    .question_card {
        margin-bottom: 1rem;
    }

    .question_text {
        font-size: large;
    }
}

@media screen and (min-width: 500px) and (max-width:1050px) {
    .visible {
        max-height: 300px;
        width: auto;
    }
}

@media screen and (min-width:1050px) {
    .visible {
        max-height: 400px;
        width: auto;
    }
}

.invisible {
    height: 0px;
    border-radius: 100px;
}

@keyframes blend_in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}