@media screen and (min-width: 1000px) {
    .selectbox {
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    .menu_wrapper {
        width: 80%;
    }

    .text {
        padding: 1rem;
    }

}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .selectbox {
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .menu_wrapper {
        width: 95%;
    }

    .text {
        padding: 1rem;
    }
}

@media screen and (max-width:500px) {
    .selectbox {
        text-align: center;
    }

    .menu_wrapper {
        width: 95%;
    }

    .text {
        padding: 0.5rem;
    }
}

.menu_wrapper {
    margin: 0 auto;
    margin-top: 2rem;
}

.play_button {
    background-color: black;
    border-color: white;
    padding: 0.5rem;
    font-family: 'Starjedi';
    color: white;
    font-size: large;
    margin-top: 1rem;
}

.play_button:hover {
    background-color: #ffe81f;
    color: black;
}

.text {
    font-family: "Starjedi";
    color: white;
    font-size: large;
}

.centered_horizontally {
    text-align: center;
}