.text_style {
    text-align: center;
}

@media screen and (min-width:500px) {
    .selectbox {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:500px) {
    .selectbox {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.play_button {
    background-color: black;
    border-color: white;
    padding: 0.5rem;
    font-family: 'Starjedi';
    color: white;
    font-size: large;
}

.play_button:hover {
    background-color: #ffe81f;
    color: black;
}

.text {
    color: white;
    font-size: large;
}

.center {
    text-align: center;
}