.title {
    color: #ffe81f;
    text-align: center;
}

.score {
    color: lightgray;
}

.center {
    text-align: center;
    color: white;
}

.mandalore {
    font-family: "Mandalore";
}

.starjedi {
    font-family: "Starjedi";
}

.image {
    max-width: 90%;
    max-height: 70%;
}

@media screen and (max-width: 500px) {
    .starjedi {
        font-size: x-large;
    }
}

@media sreen and (min-width: 500px) {
    .starjedi {
        font-size: xx-large;
    }
}