.title {
    color: #ffe81f;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.score {
    color: lightgray;
}

.center {
    text-align: center;
    color: white;
}

.mandalore {
    font-family: "Mandalore";
}

.starjedi {
    font-family: "Starjedi";
}

.image {
    max-width: 90%;
    max-height: 70%;
    border-radius: 10px;
    margin: 1rem;
}

.red {
    box-shadow: 0 0 20px 10px red;
}

.green {
    box-shadow: 0 0 20px 10px green;
}

.lightblue {
    box-shadow: 0 0 20px 10px lightblue;
}

.white {
    box-shadow: 0 0 20px 10px white;
}

@media screen and (max-width: 500px) {
    .starjedi {
        font-size: large;
    }
}

@media sreen and (min-width: 500px) {
    .starjedi {
        font-size: xx-large;
    }
}