.choosechar { 
    /*padding-top: 15%;*/
    
    display: grid; 
    justify-items: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 2.5fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "arrowleft character arrowright"; 
    
    /*background-color: crimson;*/
    grid-area: 3 / 1 / 4 / 2;
 }
 









.arrowleft {
    margin-top: 150px;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    justify-self: flex-end;
    
    border-right:30px solid #D9D9D9; 
    grid-area: arrowleft; 
  }


  .arrowright {
    margin-top: 150px;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    justify-self: flex-start;
    border-left:30px solid #D9D9D9; 
    grid-area: arrowright; 
  }

  
 .characterDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: solid 2px #D9D9D9;*/
    border-radius: 10px;
    height: 350px;
    width:350px;
    grid-area: character;
   
}


/*
.characterDisplay:hover {
    
    color: white;
    border-color: blue;
    box-shadow: 0 0 20px 10px blue
}



.characterDisplayToggle{
    border-color: rgb(54, 231, 18);
}*/

.character_img{
    width:200;
    height:200;
}