.Weather_description {
    font-size: 1.6vw;
    padding-left: 3%;
    font-family: 'Mandalore';
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 100%;
    
}

.Weather {
    display: flex;
    max-width: 200px;
    margin-top: 1.5vw;


}

.Image {
    max-width: 100px;
    max-height: 100%;
}

.Weather_img {
    width: 5vw;
    height: 5vw;
}

.WeatherValues {
    font-family: 'Mandalore';
    display: flex;
    width: 12vw;
    font-size: 1.6vw;
}

.WeatherDescriptionWrapper {
    float: right;
}

@media only screen and (max-width: 500px) {
    .Weather_description {
        font-size: 2vh;
    }

    .Weather {
        display: flex;
        max-width: 100px;
    }

    .Image {
        max-width: 40px;
        max-height: 100%;
    }

    .Weather_img {
        width: 40px;
        height: 40px;
    }

    .WeatherValues {
        display: flex;
        width: 150px;
        font-size: 2.5vh;

    }

    .WeatherDescriptionWrapper {
        position: relative;
    }
}

@media only screen and (max-width: 950px) and (min-width: 500px) {
    .Weather_description {
        font-size: 4.3vw;
    }

    .Image {
        max-width: 60px;
        max-height: 100%;
    }

    .Weather_img {
        width: 10vw;
        height: 10vw;
    }

    .WeatherValues {
        width: 180px;
        font-size: 3.5vw;
    }

    .WeatherDescriptionWrapper {
        position: relative;
        right: 0px;

    }


}