.switchtheme {
    
    display: flex;
    justify-content: space-around;
    grid-area: 2 / 1 / 3 / 2;
 }

 .empireLogo{
  width:60px;
  height: 60px;
  
 }



 .rebelLogo{
  width:90px;
  height: 60px;
 }

 .empireLogo:hover{
    cursor: pointer;
    
   }

   .rebelLogo:hover{
   cursor: pointer;
   }


 @media screen and (max-width: 800px) {

    .empireLogo{
        width:30px;
        height: 30px;
       }
      
       .rebelLogo{
        width:60px;
        height: 40px;
       }
 }