.WeatherForecast {
    border: 0px solid rgba(255, 255, 255, 0.815);
    height : 180px ; 
    display: inline-flex;
    position: fixed;
    justify-content: space-around;
    left: 20px;
    right: 20px;
    bottom: 15px;
    gap: 15px;


}

