.outerWrapper {
  
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "saber_left login_form saber_right"; 
    justify-items: end; 
    width: 100%; 
    height: 100%; 

    
  }

  
  .saber_left { grid-area: saber_left;
   display: flex;
   justify-content: center;
    width: 100%;
    height: 100%;
 }
  
  .saber_right { grid-area: saber_right;
    display: flex;
   justify-content: center;
    width: 100%;
    height: 100%;
 }
  
  .login_form { grid-area: login_form;
    margin-top:1%;
    display: flex;
    justify-content: center;
     width: 100%;
     min-height: 90%;
 }


