.disabled {
    pointer-events: none;
}

.x_large {
    font-size: x-large;
}

.large {
    font-size: large;
}

.submit_button {
    font-family: "Starjedi";
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.submit_button:hover {
    background-color: #ffe81f;
}

.right,
.false {
    animation: blinker 1s ease infinite;
}

.right {
    color: green;
}

.false {
    color: red;
}

@keyframes blinker {
    0% {
        opacity: 50%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}