.disabled {
    pointer-events: none;
}

.large {
    font-size: large;
}

.submit_button {
    font-family: "Starjedi";
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 2.5rem;
}

.submit_button:hover {
    border: 1px solid grey;
    background-color: #ffe81f;
}

.right,
.false {
    animation: blinker 1s ease infinite;
}

.right {
    color: green;
}

.false {
    color: red;
}

@keyframes blinker {
    0% {
        opacity: 50%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}