.container {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "character login"
      "character login"
      "character login"; 
  }
  .character { 
    grid-area: character; 
}
  .login { 
    grid-area: login; 
}