.loginGeneral{
    display: grid;
    background-color: #13181C;
    width:100%;
    height:900px;
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.3fr 2.9fr 0.3fr; 
    grid-template-rows: 0.5fr 2fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "loginheader  loginheader loginheader"
    "lightsaberleft loginform lightsaber_right"
    "loginfooter  loginfooter loginfooter"; 
}

.loginheader { 
    grid-area: loginheader;
    background-color: blueviolet;
 }

.loginform { 
    display: grid; 
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0px 0px; 
   
    
    grid-area: loginform; 
    background-color: aqua;
}

.logininputfields { 
    background-color: coral;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "firstname"
    "lastname"
    "birthday"
    "adress"
    "phonenumber";
    
    grid-area: 1 / 1 / 2 / 2; 
}

.firstname { 
    background-color: aqua;
    grid-area: firstname; 
}
.lastname { 
    background-color: deepskyblue;
    grid-area: lastname; 
}
.birthday { 
    background-color: fuchsia;
    grid-area: birthday; 
}
.adress { 
    background-color: darkslategray;
    grid-area: adress; 
}
.phonenumber { 
    background-color: darkturquoise;
    grid-area: phonenumber; 
}


.buttonbox { 
    background-color: firebrick;
    grid-area: 2 / 1 / 3 / 2;
 }


.loginfooter { 
    grid-area: loginfooter;
    background-color: goldenrod;
 }
.lightsaber_right { 
    grid-area: lightsaber_right;
    background-color: beige;
 }
.lightsaberleft { 
    grid-area: lightsaberleft;
    background-color: palevioletred;
 }

